body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

.hero {
  color: white;
  padding: 100px 20px;
  text-align: center;
  background-image:url(photo.png.png);
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4); 
    background-blend-mode: overlay;
}

.hero button {
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  background: white;
  color:black;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;             
}
.hero button:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
    
.features {
  padding: 60px 20px;
  text-align: center;
}

.feature-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feature {
  background: rgb(189, 187, 187);
  padding: 20px;
  border-radius: 8px;
  width: 200px;

  display: flex;               
  flex-direction: column;      
  align-items: center;         
  gap: 10px;     
   transition: transform 0.3s ease, box-shadow 0.3s ease;             
}
.feature:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.feature-img {
  width: 200px;
  height: auto;
}



.steps {
  background: #fafafa;
  padding: 60px 20px;
  text-align: center;
}

.step-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.step {
  background:#5cd28f;
  padding: 20px;
  border-radius: 8px;
  width: 150px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
                  

}


.testimonials {
  padding: 60px 20px;
  text-align: center;
  font-style: italic;
}

.cta {
  background: rgb(189, 187, 187);;
  color: black;
  padding: 60px 20px;
  text-align: center;
 
}


.cta button {
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  border-radius: 5px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;             

  
}
.cta button:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
